# Dependencies
node_modules/
.yarn/
.pnp.*

# Build output
dist/

# Logs
*.log
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

