<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.brrtrouter.serve</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/casibbald/.cargo/bin/cargo</string>
        <string>run</string>
        <string>--</string>
        <string>--spec</string>
        <string>doc/openapi.yaml</string>
        <string>--port</string>
        <string>8080</string>
        <string>--hot-reload</string>
        <string>--test-api-key</string>
        <string>test123</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/casibbald/Workspace/microscaler/BRRTRouter/examples/pet_store</string>
    
    <key>StandardOutPath</key>
    <string>/Users/casibbald/Workspace/microscaler/BRRTRouter/logs/brrtrouter-serve.out.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/casibbald/Workspace/microscaler/BRRTRouter/logs/brrtrouter-serve.err.log</string>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>RUST_LOG</key>
        <string>debug</string>
        <key>RUST_BACKTRACE</key>
        <string>full</string>
    </dict>
</dict>
</plist> 