apiVersion: v1
kind: Service
metadata:
  name: petstore
  namespace: brrtrouter-dev
  labels:
    app: petstore
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9090"
    prometheus.io/path: "/metrics"
spec:
  type: NodePort
  selector:
    app: petstore
  ports:
    - name: http
      port: 8080
      targetPort: http
      nodePort: 31080
      protocol: TCP

